.side-bar {
  border-color: transparent;
  .menu-button {
    &[data-state='open'] {
      background-color: hsl(var(--sidebar-accent));
      color: hsl(var(--sidebar-accent-foreground));
    }
  }
  .footer-group {
    padding: 0;
  }
  .right-icon {
    margin-left: auto;
    width: 1rem;
    height: 1rem;
  }
  .chevron-icon {
    margin-left: auto;
    transition: transform 300ms;
  }
  :global([data-state='open']) .chevron-icon {
    transform: rotate(90deg);
  }
}

.dropdown-content {
  width: var(--radix-dropdown-menu-trigger-width);
  min-width: 14rem;
  border-radius: 0.5rem;
  .dropdown-label {
    padding: 0;
    font-weight: 400;
    .dropdown-item-container {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding-left: 0.25rem;
      padding-top: 0.375rem;
      padding-bottom: 0.375rem;
      text-align: left;
      font-size: 0.875rem;
    }
  }
}

.icon-container {
  display: flex;
  aspect-ratio: 1;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: hsl(var(--sidebar-primary));
  color: hsl(var(--sidebar-primary-foreground));
  .icon {
    width: 1rem;
    height: 1rem;
  }
}

.text-container {
  display: grid;
  flex: 1;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.25;
  .title-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
  }
  .subtitle-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.75rem;
  }
}

.avatar {
  height: 2rem;
  width: 2rem;
  border-radius: 0.5rem;
  .avatar-fallback {
    border-radius: 0.5rem;
  }
}
